<div class="contact_form">
  <h3 class="title_form">🤙🏻 Contact Us</h3>

  <h6 class="desc_form">We love to hear from you, reach out to us</h6>
  <br />
  <br />
  <div class="form">
    <form>
      <input type="text" class="input_name" placeholder="Name..." />
      <br />
      <input type="text" class="input_email" placeholder="Email..." />
      <br />
      <textarea
        name=""
        id=""
        class="input_message"
        cols="30"
        rows="10"
        placeholder="Message..."
      ></textarea>
      <br />
      <button class="button_contact">Send</button>
    </form>
  </div>
</div>
