<div class="contributers">
  <h5 class="title_contr">
    Join our contributors family and help us coding, fixing bugs, writing
    episodes notes and much more ...
  </h5>
  <br />
  <br />
  <button class="button_contr">
    <a
      href="https://github.com/ngMorocco/ngx-darija/blob/main/README.md"
      target="_blank"
      rel="noopener noreferrer"
      >I want to contribute ?</a
    >
  </button>
  <div class="individuals">
    <div class="indiv1" *ngFor="let item of contributors">
      <!-- <div class="round"> -->
        <img class="round_img" src="{{item?.avatar_url}}" alt="{{ item?.login }}" width="80px" height="80px">
        <br>
      <!-- </div> -->
      {{ item?.login }}
    </div>
  </div>
</div>
