@import ../../../styles
.search_input
  width: 400px
  height: 32px
  background-color: #102243
  border: 2px solid #000a1d
  border-radius: 4px
  font-weight: 500
  font-size: 16px
  padding-left: 10px
  color: $white
  &:focus,&:active,&:hover
    border-color: $secondary
    outline: none
.search
  margin: 21px
