<div class="getNotified">
  <h3 class="get">🚀 Get Notified</h3>
  <br />
  <!-- <br /> -->
  <!-- <br /> -->
  <div class="content">
    <p>
      To get live streams notifications subscribe to our
      <a
        href="https://www.youtube.com/channel/UC5irZcpXt3LZ4Ra44aFX_eA"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="youtube"> Youtube Channel</span></a
      >
      and
      <a
        href="https://www.facebook.com/angularMorocco/"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="face">Facebook Page</span></a
      >
      (Make sure to enable notifications 😉)
    </p>
    <div class="s-m">
      <a
        href="https://www.youtube.com/channel/UC5irZcpXt3LZ4Ra44aFX_eA"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../../assets/logo-youtube-icon.svg"
          alt="Youtube_Logo"
          width="40px"
          class="logo_ytb"
      /></a>
      <a
        href="https://discord.com/channels/783597420801687552/783597420801687560"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../../assets/Discord-Logo.svg"
          alt="Discord_Logo"
          width="40px"
          class="logo_ytb"
      /></a>
      <a
        href="https://www.facebook.com/angularMorocco/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../../assets/logo_facebook.svg"
          alt="Facebook_logo"
          width="35px"
          class="logo_ytb"
      /></a>
      <a
        href="https://twitter.com/ngmorocco"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../../assets/Twitter_logo.svg"
          alt="Twitter_logo"
          width="35px"
          class="logo_face"
      /></a>
      <!--  -->

      <!-- <i class="fas fa-facebook-square fa-4x fa-fw"></i>
      <i class="fas fa-youtube-square fa-4x"></i> -->
    </div>
    <p>
      Or you can subscribe to our <span class="youtube">Mailing List</span> to
      get updates about Angular In Darija Lives .
    </p>
  </div>
</div>
