<div class="getNotified">
  <h3 class="get">Get Notified</h3>
  <br />
  <br />
  <br />
  <div class="content">
    <p>
      To get live streams notifications subscribe to our
      <span class="youtube">Youtube Channel</span> and
      <span class="face">Facebook Page</span> (Make sure to enable notifications
      😉)
    </p>
    <div class="s-m">
      <i class="fas fa-facebook-square fa-4x fa-fw"></i>
      <i class="fas fa-youtube-square fa-4x"></i>
    </div>
    <p>
      Or you can subscribe to our <span class="youtube">Mailing List</span> to
      get updates about Angular In Darija Lives .
    </p>
  </div>
</div>
