<header>
  <nav class="navbar">
    <div class="image" routerLink="/" routerLinkActive="active_link">
      <img
        src="../../assets/logo.png"
        class="logo"
        alt="Angular In darija Logo"
      />
    </div>
    <div class="elements">
      <ul class="navbar-nav">
        <li>
          <a class="link" routerLink="blog" routerLinkActive="active_link">Blog</a>
        </li>
        <li>
          <a class="link" routerLink="sessions/1" routerLinkActive="active_link">Sessions</a>
        </li>
        <li>
          <a class="link" routerLink="about" routerLinkActive="active_link">About</a>
        </li>
      </ul>
    </div>
    <div class="search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <div class="github_repo">
      <a
        href="https://github.com/ngMorocco/ngx-darija/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../assets/github_logo.svg"
          alt="Github_Repo of ANgular in darija"
        />
      </a>
      <!-- <i class="fas fa-github fa-3x"></i> -->
      <!-- <i class="ri-github-fill ri-3x"></i> -->
    </div>
  </nav>
  <nav class="navbar-mobile">
    <div [routerLink]="['/']">
      <img
        src="../../assets/logo.png"
        class="logo_mob"
        alt="Angular In darija Logo"
        width="70%"
      />
    </div>
    <div id="nav-icon3" class="{{ className }}" (click)="onClickChange()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
