<div class="home">
  <div class="text_description">
    <h1 class="title_hero">Angular In Darija</h1>
    <h6 class="title_description">
      Live Interactive Coding , Content In Moroccon Darija , beautiful peoples ,
      building real Apps Live and More ,... .
    </h6>
    <br />
    <button class="play_button">
      <i class="fas fa-play fa-fw"></i> Watch the videos
    </button>
  </div>
  <div class="photo_vector">
    <img
      src="../../assets/home photo.svg"
      alt="Home photo of Angular in Darija"
      width="100%"
    />
  </div>
</div>
<div class="getNotifed">
  <app-get-notified></app-get-notified>
</div>
